/* Navbar.css */
.navbar {
    position: fixed; /*bar stay at the same place all the time */
    top: 0; 
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    z-index: 1000; /* Make sure it's on top of other elements */
  }
  
  .logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 1.5%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
  }
  
  .nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  